@media (min-width: 901px) and (max-width: 1200px) {
  .tabs {
    width: 100%; }
    .tabs .col-md-3 {
      width: 24%; }
    .tabs .about h4, .tabs .projects h4, .tabs .resume h4, .tabs .contab h4 {
      font-size: 25px; }
      .tabs .about h4:hover, .tabs .projects h4:hover, .tabs .resume h4:hover, .tabs .contab h4:hover {
        font-size: 15px; }
  .sectionb {
    height: auto; }
    .sectionb .viewother {
      padding-top: 70px;
      margin-top: -664px; }
      .sectionb .viewother a {
        font-size: 50px;
        letter-spacing: 4px; }
  .one, .two, .three {
    display: none; }
  .contact {
    display: none; }
  .noshow {
    display: none; }
  .sectiona {
    height: auto; }
    .sectiona .words h1 {
      padding-top: 75px;
      font-size: 57px; }
    .sectiona .words h4 {
      margin-top: 102px;
      margin-left: 10px;
      font-size: 38px;
      line-height: 58px; }
    .sectiona .words h5 {
      font-size: 35px; }
    .sectiona .middle .pic {
      width: 250px;
      height: 250px;
      position: absolute;
      margin-top: -640px;
      margin-left: 502px; }
  .sectionc {
    height: auto; }
    .sectionc .titleres {
      display: none; }
    .sectionc .boxC strong {
      font-size: 30px; }
    .sectionc .boxC p {
      font-size: 25px;
      line-height: 40px; }
    .sectionc .boxC h2 {
      font-size: 120px; }
    .sectionc .boxB h2 {
      font-size: 120px; }
    .sectionc .boxB p {
      font-size: 18px;
      line-height: 40px; }
    .sectionc .boxB h3 a {
      display: none; }
    .sectionc .boxB strong {
      font-size: 30px; }
    .sectionc .boxA h2 {
      font-size: 120px; }
    .sectionc .boxA p {
      font-size: 18px;
      line-height: 40px; }
    .sectionc .boxA strong {
      font-size: 30px; } }

@media (max-width: 900px) {
  .header {
    height: 660px; }
    .header .navbar .name {
      font-size: 68px;
      padding-top: 100px; }
    .header .navbar .introinfo h2 {
      margin-top: 100px; }
  .tabs {
    width: 99.9%;
    border-top: none;
    max-height: 85px; }
    .tabs .about h4, .tabs .contab h4, .tabs .projects h4, .tabs .resume h4 {
      font-size: 15px;
      display: block;
      margin: 10px 0 0 10px; }
      .tabs .about h4:hover, .tabs .contab h4:hover, .tabs .projects h4:hover, .tabs .resume h4:hover {
        font-size: 15px; }
    .tabs .about h4 {
      margin-left: -3px; }
  .sectiona .words h1 {
    padding-top: 75px; }
  .sectiona .words h4 {
    margin-top: 189px;
    margin-left: 10px; }
  .sectiona .middle .pic {
    width: 150px;
    height: 150px;
    position: absolute;
    margin-top: -300px;
    margin-left: 99px; }
  .sectionb {
    height: 200px; }
    .sectionb .viewother {
      padding-top: 70px;
      margin-top: -664px; }
      .sectionb .viewother a {
        font-size: 30px;
        letter-spacing: 4px; }
  .one, .two, .three {
    display: none; }
  .contact {
    display: none; }
  .noshow {
    display: none; }
  .sectionc {
    height: 1175px; }
    .sectionc .titleres {
      font-size: 35px;
      padding-top: 15px;
      text-decoration: underline; }
  .boxA h2 {
    font-size: 20px; }
  .boxA p {
    font-size: 12px; }
  .boxB h2 {
    font-size: 20px; }
  .boxB p {
    font-size: 12px; }
  .boxB h3 a {
    color: red;
    font-size: 22px;
    text-align: center; }
  .sectiond h1 {
    padding-top: 70px; } }
