//
// @media (min-width:1091px) and (max-width:1320px) {
// .sectiona {
//   .middle {
//     .pic {
//
//     }
//   }
// }
// }
//
// @media (min-width:901px) and (max-width:1090px) {
//
//
//   .sectionb {
//   height: auto;
//
//       .viewother {
//         padding-top: 0px;
//         margin-top: -664px;
//         text-align: center;
//         margin-left: 10px;
//         a {
//           font-size: 50px;
//           letter-spacing: 4px;
//         }
//       }
//   }
//   .one,.two,.three {
//     display: none;
//   }
//   .contact {
//     display: none;
//   }
//   .noshow {
//     display:none;
//   }
//
//   .sectiona {
//     height: 700px;
//     .words {
//       h1 {
//         padding-top: 75px;
//         font-size: 25px;
//       }
//       h4 {
//         // margin-top: 189px;
//         // margin-left: 10px;
//         margin-top: 102px;
//         margin-left: 10px;
//         font-size: 18px;
//         // line-height: 58px;
//               }
//       h5 {
//         font-size: 35px;
//       }
//     }
//     .middle {
//       .pic {
//         width: 250px;
//         height: 250px;
//         position: absolute;
//         margin-top: -640px;
//         margin-left: 502px;
//       }
//     }
//   }
//
// .sectionc {
//   height: auto;
// .titleres {
//   display: none;
//
// }
//   .boxC {
//     strong {
//       font-size: 30px;
//     }
//     p {
//         font-size: 25px;
//         line-height: 40px;
//     }
//     h2 {
//       font-size: 120px;
//     }
//   }
//       .boxB {
//         h2 {
//           font-size: 120px;
//         }
//         p {
//           font-size: 18px;
//           line-height: 40px;
//
//         }
//         h3 {
//         a {
//             display: none;
//         }
//
//         }
//         strong {
//           font-size: 30px;
//         }
//
//       }
//     .boxA {
//       h2 {
//         font-size: 120px;
//       }
//       p {
//         font-size: 18px;
//         line-height: 40px;
//
//       }
//       strong {
//         font-size: 30px;
//       }
//     }
// }
//
//
//
// }
//
//
@media (min-width:901px) and (max-width:1090px) {
  .tabs {
    background-color: #8f91a0;
    width: 0px;
    border: none;
    position: relative;



    .contab {
      display: none;

      h4 {
        display: none;
      }
    }
    .about {
      display: none;

      h4 {
        display: none;
      }
    }
    .projects {
      display: none;

      h4 {
        display: none;
      }
    }
    .resume {
      display: none;

      h4 {
        display: none;
      }
    }
  }
}//end of Q

@media (min-width:801px) and (max-width:900px){
  .tabs {
    background-color: #8f91a0;

    width: 0px;
    border: none;
    position: relative;



    .contab {
      display: none;

      h4 {
        display: none;
      }
    }
    .about {
      display: none;

      h4 {
        display: none;
      }
    }
    .projects {
      display: none;

      h4 {
        display: none;
      }
    }
    .resume {
      display: none;

      h4 {
        display: none;
      }
    }
  }

// .sectionb {
// height: 200px;
//
//     .viewother {
//       padding-top: 70px;
//       margin-top: -719px;
//       text-align: center;
//       margin-left: 0%;
//       a {
//         font-size: 30px;
//         letter-spacing: 4px;
//       }
//     }
// }
// .one,.two,.three {
//   display: none;
// }
// .contact {
//   display: none;
// }
// .noshow {
//   display:none;
// }
// .sectionc {
//   height: 1175px;
//   .titleres {
//     font-size: 35px;
//     padding-top: 15px;
//     text-decoration: underline;
//   }
// }
// .boxA {
//   h2 {
//     font-size: 20px;
//   }
//   p {
//     font-size: 12px;
//   }
// }
// .boxB {
//   h2 {
//     font-size: 20px;
//   }
//   p {
//     font-size: 12px;
//   }
//   h3 {
//     a {
//       color: red;
//       font-size: 22px;
//       text-align: center;
//     }
//   }
// }
//
//
// .sectiond {
//   h1 {
//     padding-top: 70px;
//   }
// }
//


  } //end of mediaQ
//
//
@media (min-width:670px) and (max-width:800px) {
  .tabs {
    background-color: #8f91a0;

    width: 0px;
    border: none;
    position: relative;



    .contab {
      display: none;

      h4 {
        display: none;
      }
    }
    .about {
      display: none;

      h4 {
        display: none;
      }
    }
    .projects {
      display: none;

      h4 {
        display: none;
      }
    }
    .resume {
      display: none;

      h4 {
        display: none;
      }
    }
  }
  .header {
    height: 660px;

    .navbar {
      .name {
        font-size: 68px;
        padding-top: 100px;
      }
      .introinfo {
        h2 {
          margin-top: 100px;
        }
      }
    }
  }


  .sectiona {
    .middle {
      .pic {
        margin-top: -471px;
        width: 150px;
        height: 150px;
        margin-left: 99px;
        border: 2px solid red;

      }
    }
  }



}//end of Q

@media (min-width:465px) and (max-width:669px) {
  .tabs {
    width: 0px;
    border: none;
    position: relative;
    background-color: #8f91a0;



    .contab {
      display: none;

      h4 {
        display: none;
      }
    }
    .about {
      display: none;

      h4 {
        display: none;
      }
    }
    .projects {
      display: none;

      h4 {
        display: none;
      }
    }
    .resume {
      display: none;

      h4 {
        display: none;
      }
    }
  }
  .header {
    height: 660px;
    .navbar {
      .name {
        font-size: 68px;
        padding-top: 100px;
      }
      .introinfo {
        h2 {
          margin-top: 100px;
        }
      }
    }
  }

  .sectiona {
    .middle {
      .pic {
        margin-top: -351px;
        width: 150px;
        height: 150px;
        margin-left: 99px;

      }
    }
  }




}//end of Q



@media (max-width:464px) {
  .tabs {
    width: 0px;
    border: none;
    position: relative;
    background-color: #8f91a0;



    .contab {
      display: none;

      h4 {
        display: none;
      }
    }
    .about {
      display: none;

      h4 {
        display: none;
      }
    }
    .projects {
      display: none;

      h4 {
        display: none;
      }
    }
    .resume {
      display: none;

      h4 {
        display: none;
      }
    }
  }
  .header {
    height: 660px;
    .navbar {
      .name {
        font-size: 68px;
        padding-top: 100px;
      }
      .introinfo {
        h2 {
          margin-top: 100px;
        }
      }
    }
  }


.sectiona {
  height: 623px;
  .words {
    h1 {
      padding-top: 17px;
    }
    h4 {
      margin-left: 18px;
    }
  }
  .middle {
    .pic {
      margin-top: -422px;
width: 140px;
height: 140px;
margin-left: 172px;

    }
  }
}


.sectionb {
height: 200px;

    .viewother {
      padding-top: 70px;
      margin-top: -719px;
      text-align: center;
      margin-left: 0%;
      a {
        font-size: 30px;
        letter-spacing: 4px;
      }
    }
}
.one,.two,.three {
  display: none;
}
.contact {
  display: none;
}
.noshow {
  display:none;
}
.sectionc {
  height: 1014px;
  .titleres {
    font-size: 35px;
    padding-top: 15px;
    text-decoration: underline;
  }
}
.boxA {
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 12px;
  }
}
.boxB {
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 12px;
  }
  h3 {
    a {
      color: red;
      font-size: 22px;
      text-align: center;
    }
  }
}


.sectiond {
  h1 {
    padding-top: 70px;
  }
}



  }// end of mediaQ
