@media (min-width:901px) and (max-width:1200px) {
  .tabs {
    width: 100%;
    .col-md-3 {
      width: 24%;
    }
    .about, .projects, .resume, .contab {
      h4 {
        font-size: 25px;
         &:hover {
           font-size: 15px;
         }
      }
    }
  }

  .sectionb {
  height: auto;

      .viewother {
        padding-top: 70px;
        margin-top: -664px;
        a {
          font-size: 50px;
          letter-spacing: 4px;
        }
      }
  }
  .one,.two,.three {
    display: none;
  }
  .contact {
    display: none;
  }
  .noshow {
    display:none;
  }

  .sectiona {
    height: auto;
    .words {
      h1 {
        padding-top: 75px;
        font-size: 57px;
      }
      h4 {
        // margin-top: 189px;
        // margin-left: 10px;
        margin-top: 102px;
        margin-left: 10px;
        font-size: 38px;
        line-height: 58px;
              }
      h5 {
        font-size: 35px;
      }
    }
    .middle {
      .pic {
        width: 250px;
        height: 250px;
        position: absolute;
        margin-top: -640px;
        margin-left: 502px;
      }
    }
  }

.sectionc {
  height: auto;
.titleres {
  display: none;

}
  .boxC {
    p {
        font-size: 30px;
        line-height: 40px;
    }
    h2 {
      font-size: 120px;
    }
  }
      .boxB {
        h2 {
          font-size: 120px;
        }
        p {
          font-size: 30px;
          line-height: 40px;

        }
        h3 {
        a {
            display: none;
        }

        }

      }
    .boxA {
      h2 {
        font-size: 120px;
      }
      p {
        font-size: 30px;
        line-height: 40px;

      }
    }
}



}

@media (max-width:900px){

.header {
  height: 660px;
  .navbar {
    .name {
      font-size: 68px;
      padding-top: 100px;
    }
    .introinfo {
      h2 {
        margin-top: 100px;
      }
    }
  }
}


.tabs {
    width: 99.9%;
    border-top: none;
    max-height: 85px;
      .about, .contab, .projects, .resume {
        h4 {
          font-size: 15px;
          display: block;
          margin: 10px 0 0 10px;
          &:hover {
            font-size: 15px;
          }

        }

      }
      .about {
        h4 {
          margin-left: -3px;

        }
      }


}

.sectiona {
  .words {
    h1 {
      padding-top: 75px;
    }
    h4 {
      margin-top: 189px;
      margin-left: 10px;
    }
  }
  .middle {
    .pic {
      width: 150px;
      height: 150px;
      position: absolute;
      margin-top: -300px;
      margin-left: 99px;
    }
  }
}

// .sectionb {
//   .circles {
//     height: 1000px;
//     .one {
//       div {
//         img {
//           width: 150px;
//           height: 150px;
//           margin-top: 70px;
//           margin-left: 30%;
//         }
//       }
//     }
//     .two {
//       div {
//         img {
//           width: 150px;
//           height: 150px;
//           margin-top: -427px;
//           margin-left: 30%;
//         }
//       }
//     }
//     .three {
//       div {
//         img {
//           width: 150px;
//           height: 150px;
//           // margin-top: -577px;
//           position: absolute;
//           margin-left: 30%;
//                 .projinfo {
//                   margin-top: 55%;
//                 }
//         }
//       }
//     }
//   }
// }

.sectionb {
height: 200px;

    .viewother {
      padding-top: 70px;
      margin-top: -664px;
      a {
        font-size: 30px;
        letter-spacing: 4px;
      }
    }
}
.one,.two,.three {
  display: none;
}
.contact {
  display: none;
}
.noshow {
  display:none;
}
.sectionc {
  height: 1175px;
  .titleres {
    font-size: 35px;
    padding-top: 15px;
    text-decoration: underline;
  }
}
.boxA {
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 12px;
  }
}
.boxB {
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 12px;
  }
  h3 {
    a {
      color: red;
      font-size: 22px;
      text-align: center;
    }
  }
}


.sectiond {
  h1 {
    padding-top: 70px;
  }
}



  } //end of mediaQ
