body {

  font-family: 'Montserrat';
  // color: #547BF9;
  // background-color: #8f919f;
}


li {
  list-style-type: none;
}


.hidden {
  display: none;
}
.show {
  visibility:initial;
}

@-webkit-keyframes pop-in{
  0% {
    opacity:0;-webkit-transform:scale(.5)
  }100%{
    opacity:1;-webkit-transform:scale(1)}
  }

.slide{
  -webkit-animation:pop-in .3s;-moz-animation:pop-in .3s;-ms-animation:pop-in .3s
    }


    .tabs {
      position: fixed;
      z-index: 15;
      background-color: white;
      max-height: 50px;
      border-top: 4px solid #c9ddbc;
      border-bottom: 4px solid #c9ddbc;
      box-shadow: 2px 2px 4px #9b9eb4;
              .projects {
                text-align: center;
                  display: inline-block;
                    h4 {
                      color: #c9ddbc;
                      letter-spacing: 3px;

                      -webkit-text-stroke: .5px #9b9eb4;

                      // margin-top: 50%;
                      font-size: 20px;
                        //  border-top: 4px solid #c9ddbc;
                        //  border-bottom: 4px solid #c9ddbc;
                        // padding: 2px;
                        // margin-left: 72%;
                        width: 110%;
                        margin-left: -28px;
                              &:hover {
                                color: #9b9eb4;
                                border: none;
                              }
                          }

                  }
                  .about {
                    text-align: center;
                      display: inline-block;
                        h4 {
                          color: #c9ddbc;
                          letter-spacing: 3px;
                          -webkit-text-stroke: .5px #9b9eb4;
                          // margin-top: 50%;
                          font-size: 20px;
                            //  border-top: 4px solid #c9ddbc;
                            //  border-bottom: 4px solid #c9ddbc;
                            // padding: 2px;
                            // margin-left: 72%;
                            width: 110%;
                            margin-left: -28px;
                                  &:hover {
                                    color: #9b9eb4;
                                    border: none;
                                  }
                              }

                      }

                .resume {
                  // width: 110%;
                  display: inline-block;
                  text-align: center;

                    // margin-left: 28%;
                      h4 {
                        color: #c9ddbc;
                        letter-spacing: 3px;

                        -webkit-text-stroke: .5px #9b9eb4;
                        // margin-top: 50%;
                        font-size: 20px;
                        margin-left: -20px;
                        // margin-left: 38%;
                        // width: 27%;
                        // border-top: 4px solid #c9ddbc;
                        // border-bottom: 4px solid #c9ddbc;
                        // padding: 5px;
                        &:hover {
                          color: #9b9eb4;
                          border: none;
                        }




                      }
                }

        .contab {
          display: inline-block;
          text-align: center;

              h4 {
                color: #c9ddbc;
                letter-spacing: 3px;

                -webkit-text-stroke: .5px #9b9eb4;
                font-size: 20px;
                width: 115%;
                margin-left: -30px;

                &:hover {
                  color: #9b9eb4;
                  border: none;

                }




              }
        }

    }//end of tabs

.header {
      // background-color: black;
      // opacity: .5;
      background-color: #8f919f;
      margin: 0;
      padding: 0;
      height: 750px;


      .navbar {
          .introinfo {
            margin-top: 10%;
            text-align: center;
            h2 {
              color: white;
              text-align: center;
              letter-spacing: 5px;
            }
            h4 {
              color: white;
              text-align: center;
              display: inline-block;
                    .git, .li {
                      font-size: 30px;
                      display: inline-block;
                    }
                    a {
                      text-decoration: none;
                      color: white;
                    }
            }
            i {
              margin-right: 10px;
              font-size: 25px;
            }




          }
        .name {

          padding-top: 140px;
          text-align: center;
          letter-spacing: 12px;
          font-weight: bold;
          margin: 0;
          // color: #c9ddbc;
          color: #e4eedd;
          -webkit-text-stroke: 2px #8f919f;
          text-shadow: #fff 7px -7px 0,#fff 6px -6px 0,#fff 5px -5px 0,#fff 4px -4px 0,#fff 3px -3px 0,#fff 3px -3px 0,#fff 2px -2px 0;
          font-weight: initial;
          letter-spacing: 8px;
          font-size: 9em;
        }


        .german {

          padding-top: 140px;
          text-align: center;
          letter-spacing: 12px;
          font-weight: bold;
          margin: 0;
          // color: rgb(219, 173, 204);
          color: #e4eedd;
          // -webkit-text-stroke: 1px #fff;
          -webkit-text-stroke: 1px #9b9eb4;

          // text-shadow: #fff 7px -7px 0,#fff 6px -6px 0,#fff 5px -5px 0,#fff 4px -4px 0,#fff 3px -3px 0,#fff 3px -3px 0,#fff 2px -2px 0;
          font-weight: initial;
          letter-spacing: 8px;
          font-size: 9em;
        }
        .spanish {

          padding-top: 140px;
          text-align: center;
          letter-spacing: 12px;
          font-weight: bold;
          margin: 0;
          color: rgb(219, 173, 204);
          -webkit-text-stroke: 1px #fff;
          text-shadow: #fff 7px -7px 0,#fff 6px -6px 0,#fff 5px -5px 0,#fff 4px -4px 0,#fff 3px -3px 0,#fff 3px -3px 0,#fff 2px -2px 0;
          font-weight: initial;
          letter-spacing: 8px;
          font-size: 9em;
        }
        .fa-hand-peace-o {

          color: white;
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          top: 160px;
          font-size: 50px;
          position: relative;
          margin-left: 631px;

        }
      }


}

.sectiona {
  height: 750px;
  background-color: #fff;

  // z-index: -1;
  // width: inherit;
    .words {
        span{
          // color: #93b87a;
          color: #c9ddbc;


        }

// position: fixed;
      h1 {
        padding-top: 125px;
        font-size: 40px;
        margin-left: 40px;
        // letter-spacing: 6px;
        // color: #93b87a;
        color: #c9ddbc;


      }

      h5 {
          color: #9b9eb4;
        font-size: 25px;
        margin-top: -9px;
        margin-left: 40px;
        // opacity: .5;


      }
      h4 {
        color:  #9b9eb4;
        // opacity: .5;
        line-height: 30px;
        margin-left: 39px;
        margin-top: 150px;
      }
      .subtitle {
        margin-top: -34px;
        letter-spacing: 4px;
      }
      // .grad {
      //   letter-spacing: 4px;
      //   line-height: 43px;
      // }

      a {

        color: black;
        font-size: 20px;

        text-decoration: none;
      }


      }





          .pic  {
              // margin-left: 560px;
                background-image: url('assets/alaska.jpg');
                background-size: cover;
                border-radius: 200px;
                // height: 250px;
                // width: 250px;
                // margin-top: 144px;
                // margin-left: 76px;
                height: 300px;
                width: 300px;
                margin-top: 200px;
                margin-left: 50px;

                    &:hover {
                      background-image: url('assets/portrait.jpg');

                    }

          }

    .info {
            h6 {
              margin-top: 25px;
              font-size: 25px;
              margin-left: 83px;
              letter-spacing: 5px;
              // color: #93b87a;
              color: #c9ddbc;

              line-height: 6px;

            }
            h4 {
              color: #9b9eb4;
              line-height: 35px;
              margin-left: 11px;
              letter-spacing: 4px;
              a {
                color:  #93b87a;
                text-decoration: none;
                font-size: 18px;
                opacity: 1;
                    &:hover {
                      text-decoration: underline;
                    }
              }
            }
            .fa-github {
              margin-left: 175px;

            }
            a {

              font-size: 30px;
              color: black;


            }


          }
  .contact {
      padding-left: 67px;
      padding-top: 70px;
    .fa {
      color: #9b9eb4;
    }
            .contactme {
              margin-top: 180px;
            }

            h4 {
              padding-top: 13px;
              // color: #93b87a;
              color: #9b9eb4;

              letter-spacing: 3px;
              font-size: 25px;


            }
            i {
              // color:#9b9eb4;
              font-size: 25px;
              margin-left: 10px;


            }
            .fa-envelope  {
              color: #9b9eb4;
            }
            a {
              text-decoration: none;
              color: black;


            }
            h5 {
              margin-left: 2px;
              letter-spacing: 3px;
              // opacity: .5;
                color: #9b9eb4;
                display: inline-block;
                line-height: 0px;
                    a {
                      text-decoration: none;
                      color: #9b9eb4;
                    }
            }



            .fa-phone {
              margin-right: 5px;
            }

      }



    } //end of section a


.sectionb {
  height: 800px;
  background-color: white;

  .circles {
    background-color: #e4eedd;
    height: 700px;



      .one, .two, .three {
        .projinfo {
          // color: #9b9eb4;
          color: #9b9eb4;
          margin-top: 9%;
          margin-left: 10%;
          width: 80%;
          text-align: justify;
          font-size: 15px;
          line-height: 23px;

        }
        h2{
          text-align: center;
        }

        div {
          img {
            margin-top: 55px;
            margin-left: 15%;
            border-radius: 200px;
            height: 275px;
            width: 275px;
            border: 5px solid white;
          }
          h4 {
            color: #9b9eb4;
            // color: #808080;
            margin-left: 36%;
            a {

              text-decoration: none;
              color: #9b9eb4;
              &:hover {
                text-decoration: underline;
              }

            }
          }



        }

      }
    }//end of circles


      .col-md-12 {
        text-align: center;
      }

      .viewother {
            margin-top: -91px;
            margin-left: 36.5%;
            // text-align: center;
          a {
            text-decoration: none;
            color: #9b9eb4;
            &:hover {
              text-decoration: underline;
            }
          }

      }
}//end of sectionb

.sectionc {
  background-color: white;
  height: 800px;
  .titleres {
    color: #c9ddbc;
    text-align: center;
    margin-top: 0;
    font-size: 50px;
  }

  .skills {
    .sklz {
      display: inline-block;
      width: 10%;
    }
  }
      .boxA {
        // margin-left: 5%;
        margin-top: 2%;
          line-height: 25px;
        h2 {
          color: #c9ddbc;
          text-align: center;
        }
        strong {
          font-size: 15px;
        }
        p {
          color: #9b9eb4;
          text-align: center;
        }
      }
      .boxB {
        margin-top: 2%;
        line-height: 25px;

        h2 {
          color: #c9ddbc;
          text-align: center;
        }
        strong {
          font-size: 15px;

        }
        p {
          color: #9b9eb4;
          text-align: center;
        }
        h3 {
          margin-top: 44px;
          a {
            text-decoration: none;
            color: #c9debb;
            margin-left: 80px;
          }
        }
      }
      .boxC {
        margin-top: 2%;
        line-height: 25px;
        h2 {
          color: #c9ddbc;
          text-align: center;
        }
        strong {
          font-size: 15px;

        }
        p {
          color: #9b9eb4;
          text-align: center;
          font-size: 18px;
        }
      }


}

.sectiond {
    background-color: #8f919f;
    height: 800px;
    // margin-top: 10%;
    text-align: center;
    h1 {
      padding-top: 150px;
      text-align: center;
      letter-spacing: 12px;
      font-weight: bold;
      margin: 0;
      // color: #c9ddbc;
      color: white;
      // -webkit-text-stroke: 2px gray;
      font-weight: initial;
      letter-spacing: 8px;
      font-size: 50px;
    }
    h2 {
      padding-top: 2%;
      color: white;
      text-align: center;
      letter-spacing: 5px;
        color: #c9ddbc;

    }
    h3 {
      color: white;
      padding-top: 5%;
    }
    h4 {
      color: white;
      text-align: center;
      display: inline-block;
            .git, .li {
              font-size: 30px;
              display: inline-block;
            }
            a {
              text-decoration: none;
              color: white;
            }
    }
    i {
      margin-right: 10px;
      font-size: 25px;
    }




  }
