body {
  // background-color: #547bf9;
  // background-color: #4c5f76;
  // background-color: rgb(12, 124, 120);//best//
  // background-color: rgb(59, 163, 159);//the best
  // font-family: 'Droid Sans Mono', 'Lato';
  // font-family: 'Oswald';
  // font-family: 'Proxima Nova'
  font-family: 'Montserrat';
  color: #547BF9;
  // background-color: #808080;

}

// .container {
//   max-width: 99%;
// }
li {
  list-style-type: none;
}

.hidden {
  display: none;
}
.show {
  visibility:initial;
}

@-webkit-keyframes pop-in{
  0% {
    opacity:0;-webkit-transform:scale(.5)
  }100%{
    opacity:1;-webkit-transform:scale(1)}
  }

.slide{
  -webkit-animation:pop-in .3s;-moz-animation:pop-in .3s;-ms-animation:pop-in .3s
    }

.header {
      background-color: black;
      opacity: .5;
      margin: 0;
      padding: 0;
      height: 750px;


      .navbar {

        .name {

          padding-top: 140px;
          text-align: center;
          letter-spacing: 12px;
          font-weight: bold;
          margin: 0;
          color: #c9ddbc;

          text-shadow: #fff 7px -7px 0,#fff 6px -6px 0,#fff 5px -5px 0,#fff 4px -4px 0,#fff 3px -3px 0,#fff 3px -3px 0,#fff 2px -2px 0;
          font-weight: initial;
          letter-spacing: 8px;
          font-size: 9em;
        }


        .german {

          padding-top: 140px;
          text-align: center;
          letter-spacing: 12px;
          font-weight: bold;
          margin: 0;
          color: rgb(219, 173, 204);
          -webkit-text-stroke: 1px #fff;
          text-shadow: #fff 7px -7px 0,#fff 6px -6px 0,#fff 5px -5px 0,#fff 4px -4px 0,#fff 3px -3px 0,#fff 3px -3px 0,#fff 2px -2px 0;
          font-weight: initial;
          letter-spacing: 8px;
          font-size: 9em;
        }
        .spanish {

          padding-top: 140px;
          text-align: center;
          letter-spacing: 12px;
          font-weight: bold;
          margin: 0;
          color: rgb(219, 173, 204);
          -webkit-text-stroke: 1px #fff;
          text-shadow: #fff 7px -7px 0,#fff 6px -6px 0,#fff 5px -5px 0,#fff 4px -4px 0,#fff 3px -3px 0,#fff 3px -3px 0,#fff 2px -2px 0;
          font-weight: initial;
          letter-spacing: 8px;
          font-size: 9em;
        }
        .fa-hand-peace-o {

          color: white;
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          top: 160px;
          font-size: 50px;
          position: relative;
          margin-left: 631px;

        }
      }


}

.sectiona {
  height: 750px;
  background-color: #fff;

  // z-index: -1;
  // width: inherit;
    .words {
        span{
          // color: #93b87a;
          color: #c9ddbc;


        }
// position: fixed;
      h1 {
        padding-top: 40px;
        font-size: 40px;
        margin-left: 40px;
        // letter-spacing: 6px;
        // color: #93b87a;
        color: #c9ddbc;


      }

      h5 {
          color: #141e51;
        font-size: 25px;
        margin-top: -9px;
        margin-left: 40px;
        opacity: .5;


      }
      h4 {
        color:  #8a8ea9;
        // opacity: .5;
        line-height: 30px;
        margin-left: 39px;
        margin-top: 82px;
      }
      .subtitle {
        margin-top: -34px;
        letter-spacing: 4px;
      }
      .grad {
        letter-spacing: 4px;
        line-height: 43px;
      }

      a {

        color: #141e51;
        font-size: 20px;

        text-decoration: none;
      }


      }

          .tabs {
            margin-top: -88px;
                    .projects {
                      text-align: center;
                        display: inline-block;
                          h4 {
                            color: #c9ddbc;
                            margin-top: 50%;
                            font-size: 20px;
                               border-top: 4px solid #c9ddbc;
                               border-bottom: 4px solid #c9ddbc;
                              padding: 5px;
                              margin-left: 72%;
                              width: 27%;
                                    &:hover {
                                      color: #8a8ea9;
                                      border: none;
                                      font-size: 30px;

                                    }
                                }

                        }

                      .resume {
                        // width: 25%;
                        display: inline-block;
                        text-align: center;

                          // margin-left: 28%;
                            h4 {
                              color: #c9ddbc;
                              margin-top: 50%;
                              font-size: 20px;
                              margin-left: 38%;
                              width: 27%;
                              border-top: 4px solid #c9ddbc;
                              border-bottom: 4px solid #c9ddbc;
                              padding: 5px;
                              &:hover {
                                color: #8a8ea9;
                                border: none;
                                font-size: 30px;


                              }




                            }
                      }

              .contab {
                display: inline-block;
                text-align: center;

                    h4 {
                      color: #c9ddbc;
                      margin-top: 50%;
                      font-size: 20px;
                      width: 27%;
                      border-top: 4px solid #c9ddbc;
                      border-bottom: 4px solid #c9ddbc;
                      padding: 5px;
                      &:hover {
                        color: #8a8ea9;
                        border: none;
                        font-size: 30px;


                      }




                    }
              }

          }//end of tabs


          .pic  {
              // margin-left: 560px;
                background-image: url('assets/alaska.jpg');
                background-size: cover;
                border-radius: 200px;
                height: 250px;
                width: 250px;
                margin-top: 144px;
                margin-left: 76px;

                    &:hover {
                      background-image: url('assets/portrait.jpg');

                    }

          }

    .info {
            h6 {
              margin-top: 25px;
              font-size: 25px;
              margin-left: 83px;
              letter-spacing: 5px;
              // color: #93b87a;
              color: #c9ddbc;

              line-height: 6px;

            }
            h4 {
              color: #8a8ea9;
              line-height: 35px;
              margin-left: 11px;
              letter-spacing: 4px;
              a {
                color:  #93b87a;
                text-decoration: none;
                font-size: 18px;
                opacity: 1;
                    &:hover {
                      text-decoration: underline;
                    }
              }
            }
            .fa-github {
              margin-left: 175px;

            }
            a {

              font-size: 30px;
              color: #141e51;


            }


          }
  .contact {
      padding-left: 67px;

            .contactme {
              margin-top: 180px;
            }

            h4 {
              padding-top: 13px;
              // color: #93b87a;
              color: #c9ddbc;

              letter-spacing: 3px;
              font-size: 25px;


            }
            i {
              color:#8a8ea9;
              font-size: 25px;
              margin-left: 10px;


            }
            .fa-envelope  {
              color: #141e51;
            }
            a {
              text-decoration: none;
              color: #141e51;


            }
            h5 {
              margin-left: 2px;
              letter-spacing: 3px;
              // opacity: .5;
                color: #8a8ea9;
                display: inline-block;
                line-height: 0px;
                    a {
                      text-decoration: none;
                      color: #8a8ea9;
                    }
            }

            i {
              color: #141e51;
              opacity: .5;
            }

            .fa-phone {
              margin-right: 5px;
            }

      }



    } //end of section a


.sectionb {
  height: 750px;
  background-color: white;

  .circles {
    background-color: #e4eedd;
    height: 400px;

    // .tabs {
    //   margin-top: -84px;
    //
    //             .resume {
    //               // width: 25%;
    //               display: inline-block;
    //               text-align: center;
    //
    //                 // margin-left: 28%;
    //                   h4 {
    //                     color: #c9ddbc;
    //                     margin-top: 50%;
    //                     font-size: 20px;
    //                     margin-left: 38%;
    //                     width: 27%;
    //                     border-top: 4px solid #c9ddbc;
    //                     border-bottom: 4px solid #c9ddbc;
    //                     padding: 5px;
    //                     &:hover {
    //                       color: #8a8ea9;
    //                       border: none;
    //                       font-size: 30px;
    //
    //
    //                     }
    //
    //
    //
    //
    //                   }
    //             }
    //
    //     .contab {
    //       display: inline-block;
    //       text-align: center;
    //
    //           h4 {
    //             color: #c9ddbc;
    //             margin-top: 50%;
    //             font-size: 20px;
    //             width: 27%;
    //             border-top: 4px solid #c9ddbc;
    //             border-bottom: 4px solid #c9ddbc;
    //             padding: 5px;
    //             &:hover {
    //               color: #8a8ea9;
    //               border: none;
    //               font-size: 30px;
    //
    //
    //             }
    //
    //
    //
    //
    //           }
    //     }

    // }//end of tabs

      .one, .two, .three {
        div {
          img {
            margin-top: 80px;
            margin-left: 75px;
            border-radius: 200px;
            height: 250px;
            width: 250px;
            border: 5px solid white;
          }
          h4 {
            color: #8a8ea9;
            margin-left: 36%;
            a {

              text-decoration: none;
              color: #8a8ea9;
              &:hover {
                text-decoration: underline;
              }

            }
          }



        }

      }
    }//end of circles


      .col-md-12 {
        text-align: center;
      }

      .viewother {
            margin-top: 70px;
            text-align: center;
          a {
            text-decoration: none;
            color: #8a8ea9;
            &:hover {
              text-decoration: underline;
            }
          }

      }
}//end of sectionb

.sectionc {
  height: 750px;
  .titleres {
    color: #c9ddbc;
    text-align: center;

    font-size: 50px;
  }
      .boxA {
        // margin-left: 5%;
        margin-top: 2%;
          line-height: 25px;
        h2 {
          color: #c9ddbc;
          text-align: center;
        }
        strong {
          font-size: 15px;
        }
        p {
          color: #8a8ea9;
          text-align: center;
        }
      }
      .boxB {
        margin-top: 2%;
        line-height: 25px;
        h2 {
          color: #c9ddbc;
          text-align: center;
        }
        strong {
          font-size: 15px;

        }
        p {
          color: #8a8ea9;
          text-align: center;
        }
      }
      .boxC {
        margin-top: 2%;
        line-height: 25px;
        h2 {
          color: #c9ddbc;
          text-align: center;
        }
        strong {
          font-size: 15px;

        }
        p {
          color: #8a8ea9;
          text-align: center;
        }
      }


}
