body {
  background-color: #FF4949;
  font-family: 'Oswald';
  color: #547BF9; }

li {
  list-style-type: none; }

.hidden {
  display: none; }

.show {
  visibility: initial; }

@-webkit-keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1); } }

.slide {
  -webkit-animation: pop-in 0.5s;
  -moz-animation: pop-in 0.5s;
  -ms-animation: pop-in 0.5s; }

.header {
  background-color: #FF4949;
  margin: 0;
  padding: 0;
  height: 750px; }
  .header .navbar .name {
    padding-top: 140px;
    text-align: center;
    letter-spacing: 12px;
    font-weight: bold;
    margin: 0;
    color: #dbadcc;
    -webkit-text-stroke: 1px #fff;
    text-shadow: #fff 7px -7px 0, #fff 6px -6px 0, #fff 5px -5px 0, #fff 4px -4px 0, #fff 3px -3px 0, #fff 3px -3px 0, #fff 2px -2px 0;
    font-weight: initial;
    letter-spacing: 8px;
    font-size: 9em; }
  .header .navbar .fa-hand-spock-o {
    color: white;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    top: 160px;
    font-size: 3em;
    position: relative;
    margin-left: 631px; }

#sectiona {
  height: 750px;
  background-color: #fff; }
  #sectiona .words h1 {
    padding-top: 40px;
    font-size: 40px;
    margin-left: 40px;
    letter-spacing: 9px;
    color: #FF4949; }
  #sectiona .words h5 {
    color: #141e51;
    font-size: 25px;
    margin-top: -9px;
    margin-left: 40px;
    opacity: .5; }
  #sectiona .words .subtitle {
    margin-top: -34px;
    letter-spacing: 4px; }
  #sectiona .words .grad {
    letter-spacing: 4px; }
  #sectiona .words a {
    color: #141e51;
    font-size: 20px;
    text-decoration: none; }
  #sectiona .pic {
    background-image: url("assets/alaska.jpg");
    background-size: cover;
    border-radius: 200px;
    height: 200px;
    width: 200px;
    margin-top: 200px;
    margin-left: 76px; }
    #sectiona .pic:hover {
      background-image: url("assets/portrait.jpg"); }
  #sectiona .info h6 {
    margin-top: 18px;
    font-size: 25px;
    margin-left: 82px;
    letter-spacing: 5px;
    color: #FF4949; }
  #sectiona .info .fa-github {
    margin-left: 148px; }
  #sectiona .info a {
    font-size: 30px;
    color: #141e51; }
  #sectiona .info i {
    color: #141e51;
    font-size: 25px;
    margin-left: 10px;
    opacity: .5; }
  #sectiona .contact h4 {
    padding-top: 220px;
    color: #141e51;
    letter-spacing: 3px;
    opacity: .5; }
  #sectiona .contact a {
    text-decoration: none;
    color: #141e51; }
  #sectiona .contact h5 {
    margin-left: 19px;
    letter-spacing: 3px;
    opacity: .5; }
