body {
  font-family: 'Montserrat'; }

li {
  list-style-type: none; }

.hidden {
  display: none; }

.show {
  visibility: initial; }

@-webkit-keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1); } }

.slide {
  -webkit-animation: pop-in 0.3s;
  -moz-animation: pop-in 0.3s;
  -ms-animation: pop-in 0.3s; }

.tabs {
  position: fixed;
  z-index: 15;
  background-color: white;
  max-height: 50px;
  border-top: 4px solid #c9ddbc;
  border-bottom: 4px solid #c9ddbc; }
  .tabs .projects {
    text-align: center;
    display: inline-block; }
    .tabs .projects h4 {
      color: #c9ddbc;
      letter-spacing: 3px;
      -webkit-text-stroke: .5px #9b9eb4;
      font-size: 20px;
      width: 110%;
      margin-left: -28px; }
      .tabs .projects h4:hover {
        color: #9b9eb4;
        border: none;
        font-size: 30px; }
  .tabs .about {
    text-align: center;
    display: inline-block; }
    .tabs .about h4 {
      color: #c9ddbc;
      letter-spacing: 3px;
      -webkit-text-stroke: .5px #9b9eb4;
      font-size: 20px;
      width: 110%;
      margin-left: -28px; }
      .tabs .about h4:hover {
        color: #9b9eb4;
        border: none;
        font-size: 30px; }
  .tabs .resume {
    display: inline-block;
    text-align: center; }
    .tabs .resume h4 {
      color: #c9ddbc;
      letter-spacing: 3px;
      -webkit-text-stroke: .5px #9b9eb4;
      font-size: 20px;
      margin-left: -20px; }
      .tabs .resume h4:hover {
        color: #9b9eb4;
        border: none;
        font-size: 30px; }
  .tabs .contab {
    display: inline-block;
    text-align: center; }
    .tabs .contab h4 {
      color: #c9ddbc;
      letter-spacing: 3px;
      -webkit-text-stroke: .5px #9b9eb4;
      font-size: 20px;
      width: 115%;
      margin-left: -30px; }
      .tabs .contab h4:hover {
        color: #9b9eb4;
        border: none;
        font-size: 30px; }

.header {
  background-color: #8f919f;
  margin: 0;
  padding: 0;
  height: 750px; }
  .header .navbar .introinfo {
    margin-top: 10%;
    text-align: center; }
    .header .navbar .introinfo h2 {
      color: white;
      text-align: center;
      letter-spacing: 5px; }
    .header .navbar .introinfo h4 {
      color: white;
      text-align: center;
      display: inline-block; }
      .header .navbar .introinfo h4 .git, .header .navbar .introinfo h4 .li {
        font-size: 30px;
        display: inline-block; }
      .header .navbar .introinfo h4 a {
        text-decoration: none;
        color: white; }
    .header .navbar .introinfo i {
      margin-right: 10px;
      font-size: 25px; }
  .header .navbar .name {
    padding-top: 140px;
    text-align: center;
    letter-spacing: 12px;
    font-weight: bold;
    margin: 0;
    color: #e4eedd;
    -webkit-text-stroke: 2px #8f919f;
    text-shadow: #fff 7px -7px 0, #fff 6px -6px 0, #fff 5px -5px 0, #fff 4px -4px 0, #fff 3px -3px 0, #fff 3px -3px 0, #fff 2px -2px 0;
    font-weight: initial;
    letter-spacing: 8px;
    font-size: 9em; }
  .header .navbar .german {
    padding-top: 140px;
    text-align: center;
    letter-spacing: 12px;
    font-weight: bold;
    margin: 0;
    color: #e4eedd;
    -webkit-text-stroke: 1px #9b9eb4;
    font-weight: initial;
    letter-spacing: 8px;
    font-size: 9em; }
  .header .navbar .spanish {
    padding-top: 140px;
    text-align: center;
    letter-spacing: 12px;
    font-weight: bold;
    margin: 0;
    color: #dbadcc;
    -webkit-text-stroke: 1px #fff;
    text-shadow: #fff 7px -7px 0, #fff 6px -6px 0, #fff 5px -5px 0, #fff 4px -4px 0, #fff 3px -3px 0, #fff 3px -3px 0, #fff 2px -2px 0;
    font-weight: initial;
    letter-spacing: 8px;
    font-size: 9em; }
  .header .navbar .fa-hand-peace-o {
    color: white;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    top: 160px;
    font-size: 50px;
    position: relative;
    margin-left: 631px; }

.sectiona {
  height: 800px;
  background-color: #fff; }
  .sectiona .words span {
    color: #c9ddbc; }
  .sectiona .words h1 {
    padding-top: 125px;
    font-size: 40px;
    margin-left: 40px;
    color: #c9ddbc; }
  .sectiona .words h5 {
    color: #9b9eb4;
    font-size: 25px;
    margin-top: -9px;
    margin-left: 40px; }
  .sectiona .words h4 {
    color: #9b9eb4;
    line-height: 30px;
    margin-left: 39px;
    margin-top: 150px; }
  .sectiona .words .subtitle {
    margin-top: -34px;
    letter-spacing: 4px; }
  .sectiona .words a {
    color: black;
    font-size: 20px;
    text-decoration: none; }
  .sectiona .pic {
    background-image: url("assets/alaska.jpg");
    background-size: cover;
    border-radius: 200px;
    height: 300px;
    width: 300px;
    margin-top: 200px;
    margin-left: 50px; }
    .sectiona .pic:hover {
      background-image: url("assets/portrait.jpg"); }
  .sectiona .info h6 {
    margin-top: 25px;
    font-size: 25px;
    margin-left: 83px;
    letter-spacing: 5px;
    color: #c9ddbc;
    line-height: 6px; }
  .sectiona .info h4 {
    color: #9b9eb4;
    line-height: 35px;
    margin-left: 11px;
    letter-spacing: 4px; }
    .sectiona .info h4 a {
      color: #93b87a;
      text-decoration: none;
      font-size: 18px;
      opacity: 1; }
      .sectiona .info h4 a:hover {
        text-decoration: underline; }
  .sectiona .info .fa-github {
    margin-left: 175px; }
  .sectiona .info a {
    font-size: 30px;
    color: black; }
  .sectiona .contact {
    padding-left: 67px;
    padding-top: 70px; }
    .sectiona .contact .fa {
      color: #9b9eb4; }
    .sectiona .contact .contactme {
      margin-top: 180px; }
    .sectiona .contact h4 {
      padding-top: 13px;
      color: #9b9eb4;
      letter-spacing: 3px;
      font-size: 25px; }
    .sectiona .contact i {
      font-size: 25px;
      margin-left: 10px; }
    .sectiona .contact .fa-envelope {
      color: #9b9eb4; }
    .sectiona .contact a {
      text-decoration: none;
      color: black; }
    .sectiona .contact h5 {
      margin-left: 2px;
      letter-spacing: 3px;
      color: #9b9eb4;
      display: inline-block;
      line-height: 0px; }
      .sectiona .contact h5 a {
        text-decoration: none;
        color: #9b9eb4; }
    .sectiona .contact .fa-phone {
      margin-right: 5px; }

.sectionb {
  height: 700px;
  background-color: white; }
  .sectionb .circles {
    background-color: #e4eedd;
    height: 663px; }
    .sectionb .circles .one .projinfo, .sectionb .circles .two .projinfo, .sectionb .circles .three .projinfo {
      color: #9b9eb4;
      margin-top: 9%;
      margin-left: 10%;
      width: 80%;
      text-align: justify;
      font-size: 15px;
      line-height: 23px; }
    .sectionb .circles .one h5, .sectionb .circles .two h5, .sectionb .circles .three h5 {
      text-align: center; }
    .sectionb .circles .one div img, .sectionb .circles .two div img, .sectionb .circles .three div img {
      margin-top: 80px;
      margin-left: 15%;
      border-radius: 200px;
      height: 275px;
      width: 275px;
      border: 5px solid white; }
    .sectionb .circles .one div h4, .sectionb .circles .two div h4, .sectionb .circles .three div h4 {
      color: #9b9eb4;
      margin-left: 36%; }
      .sectionb .circles .one div h4 a, .sectionb .circles .two div h4 a, .sectionb .circles .three div h4 a {
        text-decoration: none;
        color: #9b9eb4; }
        .sectionb .circles .one div h4 a:hover, .sectionb .circles .two div h4 a:hover, .sectionb .circles .three div h4 a:hover {
          text-decoration: underline; }
  .sectionb .col-md-12 {
    text-align: center; }
  .sectionb .viewother {
    margin-top: -33px;
    text-align: center; }
    .sectionb .viewother a {
      text-decoration: none;
      color: #9b9eb4; }
      .sectionb .viewother a:hover {
        text-decoration: underline; }

.sectionc {
  background-color: white;
  height: 700px; }
  .sectionc .titleres {
    color: #c9ddbc;
    text-align: center;
    margin-top: 8%;
    font-size: 50px; }
  .sectionc .skills .sklz {
    display: inline-block;
    width: 10%; }
  .sectionc .boxA {
    margin-top: 2%;
    line-height: 25px; }
    .sectionc .boxA h2 {
      color: #c9ddbc;
      text-align: center; }
    .sectionc .boxA strong {
      font-size: 15px; }
    .sectionc .boxA p {
      color: #9b9eb4;
      text-align: center; }
  .sectionc .boxB {
    margin-top: 2%;
    line-height: 25px; }
    .sectionc .boxB h2 {
      color: #c9ddbc;
      text-align: center; }
    .sectionc .boxB strong {
      font-size: 15px; }
    .sectionc .boxB p {
      color: #9b9eb4;
      text-align: center; }
    .sectionc .boxB h3 {
      margin-top: 44px; }
      .sectionc .boxB h3 a {
        text-decoration: none;
        color: #c9debb; }
  .sectionc .boxC {
    margin-top: 2%;
    line-height: 25px; }
    .sectionc .boxC h2 {
      color: #c9ddbc;
      text-align: center; }
    .sectionc .boxC strong {
      font-size: 15px; }
    .sectionc .boxC p {
      color: #9b9eb4;
      text-align: center;
      font-size: 18px; }

.sectiond {
  background-color: #8f919f;
  height: 700px;
  text-align: center; }
  .sectiond h1 {
    padding-top: 150px;
    text-align: center;
    letter-spacing: 12px;
    font-weight: bold;
    margin: 0;
    color: white;
    font-weight: initial;
    letter-spacing: 8px;
    font-size: 50px; }
  .sectiond h2 {
    padding-top: 2%;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    color: #c9ddbc; }
  .sectiond h3 {
    color: white;
    padding-top: 5%; }
  .sectiond h4 {
    color: white;
    text-align: center;
    display: inline-block; }
    .sectiond h4 .git, .sectiond h4 .li {
      font-size: 30px;
      display: inline-block; }
    .sectiond h4 a {
      text-decoration: none;
      color: white; }
  .sectiond i {
    margin-right: 10px;
    font-size: 25px; }
